<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_description" content="">
    <meta name="author" content="">

    <title>OCTRA API</title>
    <!-- Bootstrap core CSS -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" _type="text/css">

    <!-- Custom styles for this template -->
    <link href="../v1/style.css" rel="stylesheet" _type="text/css">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">OCTRA API v<%= apiInformation.version %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-hash="_responseStructure"
                   aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                   data-bcup-haslogintext="no" href="#_responseStructure">
                    Response structure
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-hash="AppAuthorisation"
                   aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                   data-bcup-haslogintext="no" href="#AppAuthorisation">
                    App Authorisation
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-hash="UserAuthentication"
                   aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                   data-bcup-haslogintext="no" href="#UserAuthentication">
                    User Authentication
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-hash="UserAuthorisation"
                   aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                   data-bcup-haslogintext="no" href="#UserAuthorisation">
                    User Authorisation
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="api-methods-nav" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    API Methods
                </a>

                <ul class="dropdown-menu navbar-dark bg-dark" aria-labelledby="api-methods-nav">
                    <% for(var i = 0; i < commands.length; i++) { %>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#"
                               data-bs-target="#<%= commands[i].title.toLowerCase().trim() %>-methods"><%= commands[i].title %></a>
                            <ul class="dropdown-menu navbar-dark bg-dark">
                                <% for(var j = 0; j < commands[i].commands.length; j++) { %>
                                    <li>
                                        <a class="dropdown-item" href="#<%= commands[i].commands[j].name %>"
                                           data-hash="<%= commands[i].commands[j]._name %>">
                                            <%= commands[i].commands[j]._name %>(<%= commands[i].commands[j].type %>)
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                    <li class="nav-item">

                        <ul class="navbar-nav">

                        </ul>
                    </li>
                </ul>
    </div>
</nav>


<div class="row h-100" style="margin-top:80px;">
    <nav id="navbar-sticky"
         class="navbar navbar-light bg-light col-md-4 col-lg-4 col-xl-3 px-1 bh-light position-fixed overflow-auto vh-100 d-none d-md-block">
        <nav class="nav flex-column">
            <a class="nav-link align-items-center rounded collapsed" data-hash="_responseStructure" aria-expanded="true"
               data-bcup-haslogintext="no" href="#_responseStructure">
                Response structure
            </a>
            <a class="nav-link align-items-center rounded collapsed" data-hash="AppAuthorisation" aria-expanded="true"
               data-bcup-haslogintext="no" href="#AppAuthorisation">
                App Authorisation
            </a>
            <a class="nav-link align-items-center rounded collapsed" data-hash="UserAuthentication" aria-expanded="true"
               data-bcup-haslogintext="no" href="#UserAuthentication">
                User Authentication
            </a>
            <a class="nav-link align-items-center rounded collapsed" data-hash="UserAuthorisation" aria-expanded="true"
               data-bcup-haslogintext="no" href="#UserAuthorisation">
                User Authorisation
            </a>
            <a class="nav-link btn-toggle align-items-center rounded collapsed" data-toggle="collapse"
               data-target="#api-methods %>" aria-expanded="true" aria-controls="collapseOne" href="#APIMethods">
                API Methods
            </a>
            <div class="collapse show" id="api-methods">
                <nav class="nav btn-toggle-nav list-unstyled fw-normal pb-1 flex-column">
                    <% for(var i = 0; i < commands.length; i++){ %>
                        <a class="nav-link btn-toggle align-items-center rounded" data-toggle="collapse"
                           data-target="#<%= commands[i].title.toLowerCase().trim() %>-methods %>" aria-expanded="true"
                           style="cursor:pointer"
                           aria-controls="collapseOne">
                            <%= commands[i].title %>
                        </a>
                        <div class="collapse show" id="<%= commands[i].title.toLowerCase().trim() %>-methods"
                             style="padding-left:20px;">
                            <nav class="nav btn-toggle-nav list-unstyled fw-normal pb-1 flex-column">
                                <% for(var j = 0; j < commands[i].commands.length; j++){ %>
                                    <a class="nav-link" data-hash="<%= commands[i].commands[j]._name %>"
                                       href="#<%= commands[i].commands[j]._name %>"><%= commands[i].commands[j]._name %></a>
                                <% } %>
                            </nav>
                        </div>
                    <% } %>
                </nav>
            </div>
        </nav>
    </nav>


    <main class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 offset-md-4 offset-lg-4 offset-xl-3 overflow-auto">
        <div id="main-inner">
            <div id="main-content">
                <h1><%= apiInformation.name %> REST API Reference v<%= apiInformation.version %></h1>
                <br/>

                <h2 id="_responseStructure">Response Structure</h2>
                <div class="card command">
                    <div class="card-body">
                        <p>Each response makes use of the same JSON schema:</p>
                        <textarea style="min-height:200px;"
                                  readonly><%= apiDefaultResponseSchema %></textarea>
                        <div class="alert alert-info">
                            "message" contains an error message if "status" is "error". Otherwise it
                            contains messages for developer only.
                        </div>
                    </div>
                </div>

                <h2 style="margin-top: 40px;" id="AppAuthorisation">App Authorisation</h2>
                <div class="card command">
                    <div class="card-body">
                        <p>
                            Each application, that uses this API needs an API key. The application has to
                            send
                            this API
                            key via Authorization Header. Developers have to ask the API owner to register
                            the
                            application.<br/><br/>
                            Example: <code>Authorization: Bearer 65423gzu123f647t123892r3j01r732h</code>
                        </p>
                    </div>
                </div>

                <h2 style="margin-top: 40px;" id="UserAuthentication">User Authentication</h2>
                <div class="card command">
                    <div class="card-body">
                        <p>
                            This API makes use of JWT (JSON Web Tokens). On successful signup/signin a token
                            is
                            returned
                            to the client application. The client application must add this token to each
                            API
                            request.
                        </p>
                    </div>
                </div>

                <h2 style="margin-top: 40px;" id="UserAuthorisation">User Authorisation</h2>
                <div class="card command">
                    <div class="card-body">
                        <p>
                            This API makes use of JWT (JSON Web Tokens). On successful signup/signin a token
                            is
                            returned
                            to the client application. The client application must add this token to each
                            API
                            request<br/><br/>

                            Append the JWT as <code>x-access-token</code> header to your request.
                        </p>
                    </div>
                </div>

                <h2 style="margin-top: 40px;" id="APIMethods">API Methods</h2>
                <hr style="margin-bottom: 10px;"/>

                <div class="commands">

                    <% for(var i = 0; i < commands.length; i++) { %>
                        <h3 id="<%= commands[i].title %>"><%= commands[i].title %></h3>

                        <% for(var j = 0; j < commands[i].commands.length; j++) { %>
                            <div class="card command" id="<%= commands[i].commands[j]._name %>">
                                <div class="card-header">
                                <span class="title">
                                    <%= commands[i].commands[j]._name %> <a href="#<%= commands[i].commands[j]._name %>"
                                                                            data-hash="<%= commands[i].commands[j]._name %>"><i
                                                class="bi bi-link-45deg"></i></a>
                                </span>
                                    <div class="info">
                                    <span class="badge pill bg-info"><i
                                                class="bi bi-shield-lock-fill"></i> App Token</span>
                                        <% if (commands[i].commands[j]._needsJWTAuthentication) { %>
                                            <span class="badge pill bg-info"><i
                                                        class="bi bi-shield-lock-fill"></i> JWT</span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <% if (commands[i].commands[j]._allowedUserRoles.length > 0) { %>
                                            <tr>
                                                <td class="label">
                                                    Allowed user roles:
                                                </td>
                                                <td><%= commands[i].commands[j]._allowedUserRoles.join(', ') %></td>
                                            </tr>
                                        <% } %>
                                        <tr>
                                            <td class="label">
                                                URL:
                                            </td>
                                            <td><code><%= url %><%= commands[i].commands[j]._url %></code></td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                Description:
                                            </td>
                                            <td><p><%= commands[i].commands[j]._description %></p></td>
                                        </tr>
                                        <tr>
                                            <td class="label">Method:</td>
                                            <td>
                                                <span class="badge rounded-pill bg-secondary"><%= commands[i].commands[j]._type %></span>
                                            </td>
                                        </tr>
                                        <% if (commands[i].commands[j]._requestStructure && commands[i].commands[j]._requestStructure !== '{}') { %>
                                            <% if (commands[i].commands[j]._acceptedContentType) { %>
                                                <tr>
                                                    <td class="label">Request Content Type:</td>
                                                    <td><%= commands[i].commands[j]._acceptedContentType %></td>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                        <% if (commands[i].commands[j]._responseStructure && commands[i].commands[j]._responseStructure !== "{}") { %>
                                            <tr>
                                                <td class="label">Response Content Type:</td>
                                                <td><%= commands[i].commands[j]._responseContentType %></td>
                                            </tr>
                                        <% } %>
                                        <% if (commands[i].commands[j]._requestStructure && commands[i].commands[j]._requestStructure !== '{}') { %>
                                            <tr>
                                                <td colspan="2">
                                                <span class="label">Request Schema:
                                                    <% if (commands[i].commands[j]._type === 'GET') { %>
                                                        (GET parameters in URL)
                                                    <% } else { %>
                                                        (Body)
                                                    <% } %>
                                                    :<br/>
                                                    </span>
                                                    <textarea
                                                            readonly><%= commands[i].commands[j]._requestStructure %></textarea>
                                                </td>
                                            </tr>
                                        <% } %>
                                        <% if (commands[i].commands[j]._responseStructure && commands[i].commands[j]._responseStructure !== '{}') { %>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="label">Response Schema:</span><br>
                                                    <textarea
                                                            readonly><%= commands[i].commands[j]._responseStructure %></textarea>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </table>
                                </div>
                            </div>
                            <hr/>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../bootstrap/js/vendor/jquery.min.js"></script>
<script src="../bootstrap/js/vendor/popper.min.js"></script>
<script src="../bootstrap/js/bootstrap.bundle.js"></script>
<script>
    $(document).ready(function () {
        $("#main-inner").scrollspy({
            target: '#navbar-sticky',
            method: "position",
            offset: 80
        });

        if (document.location.hash) {
            jumpTo(50);
        }

        $("a[data-hash]").on("click", function (event) {
            event.preventDefault();
            location.hash = $(this).attr("data-hash");
            jumpTo(60);
        });

        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
            }
            var $subMenu = $(this).next('.dropdown-menu');
            $subMenu.toggleClass('show');


            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass('show');
            });


            return false;
        });
    });

    function jumpTo(offset) {
        const elem = $(document.location.hash);
        const main = $("#main-inner");
        if (main) {
            if (elem) {
                main.scrollTop(elem[0].offsetTop - offset);
            } else {
                console.log(`could not find elem!`);
            }
        } else {
            console.log(`could not find main!`);
        }
    }
</script>
</body>
</html>
