<!DOCTYPE html>
<html lang="<%= locals.page.lang %>">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_description" content="">
    <meta name="author" content="">

    <title>Shibboleth Confirmation</title>
    <!-- Bootstrap core CSS -->
    <link href="<%= locals.baseURL %>assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="<%= locals.baseURL %>assets/authenticators/shibboleth/style.css" rel="stylesheet" type="text/css">
    <script src="<%= locals.baseURL %>assets/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script type="application/javascript">
      var token = "<%= locals.token %>";
      var windowURL = "<%= locals.windowURL %>";
      var redirectTo = "<%= locals.redirectTo %>";
      var listOfCountries = <%- JSON.stringify(locals.listOfCountries); %>;

      function message_broadcast(key, value) {
        value = typeof value === "object" ? JSON.stringify(value) : value;
        var cid = "<%= locals.cid %>";
        localStorage.setItem(key + "_" + cid, value);
      }

      if (token.trim() !== "") {
        message_broadcast("token", "<%= locals.token %>");
        if (redirectTo === "") {
          // opened in other window
          window.close();
        } else {
          // opened in same window
          window.setTimeout(() => {
            document.location.href = redirectTo;
          }, 0);
        }
      }

      window.onload = function () {
        var inputUserName = document.getElementById("inputUserName");
        var inputEmail = document.getElementById("inputEmail");
        var submitButton = document.getElementById("submitButton");
        var checkDataCorrectness = document.getElementById("checkDataCorrectness");
        var checkDataPolicy = document.getElementById("checkDataPolicy");
        var checkTerms = document.getElementById("checkTerms");
        var inputFirstname = document.getElementById("inputFirstname");
        var inputLastname = document.getElementById("inputLastname");
        var inputGender = document.getElementById("inputGender");
        var inputCountry = document.getElementById("inputCountry");
        var inputState = document.getElementById("inputState");

        function checkInputs() {
          if (
            (window.inputUserName === undefined || window.inputUserName.value?.trim() === "") ||
            (window.inputEmail === undefined || window.inputEmail.value.trim() === "") ||
            (window.inputFirstname === undefined || window.inputFirstname.value.trim() === "") ||
            (window.inputLastname === undefined || window.inputLastname.value.trim() === "") ||
            (window.inputGender === undefined || window.inputGender.value.trim() === "") ||
            (window.inputCountry === undefined || window.inputCountry.value.trim() === "") ||
            (window.inputState === undefined || window.inputState.value.trim() === "") ||
            !window.checkDataPolicy.checked || !window.checkTerms.checked || !window.checkDataCorrectness.checked) {
            submitButton.setAttribute("disabled", "disabled");
          } else {
            submitButton.removeAttribute("disabled");
          }
        }

        function setCountryStates(country) {
          var obj = listOfCountries.find(function (a) {
            return a.country === country
          });

          if (obj) {
            var states = obj.states;

            var result = "<option></option>";

            for (var i = 0; i < states.length; i++) {
              const state = states[i];
              result += "\n<option value=\"" + state + "\">" + state + "</option>"
            }
            inputState.innerHTML = result;
          }
        }

        function onCountrySelected(event) {
          setCountryStates(event.target.value);
          checkInputs();
        }

        if (inputUserName) {
          inputUserName.addEventListener("keyup", checkInputs);
          inputEmail.addEventListener("keyup", checkInputs);
          checkDataPolicy.addEventListener("change", checkInputs);
          checkTerms.addEventListener("change", checkInputs);
          checkDataCorrectness.addEventListener("change", checkInputs);
          inputState.addEventListener("change", checkInputs);
          inputGender.addEventListener("change", checkInputs);
          inputFirstname.addEventListener("keyup", checkInputs);
          inputLastname.addEventListener("keyup", checkInputs);
          inputCountry.addEventListener("change", onCountrySelected);
          checkInputs();
          setCountryStates(inputCountry.value);
        }
      };
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success mb-3" aria-label="Fifth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OCTRA-API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
                aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-lg-0">
            </ul>
            <div class="dropdown pr-3">
                <a class="dropdown-toggle text-white text-decoration-none mr-3 pr-3" href="#" data-bs-toggle="dropdown"
                   aria-expanded="false"><%= locals.page.lang.toUpperCase() %></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="<%= (locals.query === "") ? "?" : locals.query + "&" %>lang=de">DE</a>
                    </li>
                    <li><a class="dropdown-item" href="<%= (locals.query === "") ? "?" : locals.query + "&" %>lang=en">EN</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<noscript>
    Please enable Javascript.
</noscript>
<% if(locals.windowURL.trim() === "" && locals.token.trim() === ""){ %>
    <div class="row w-100 m-0">
        <div class="col-sm-1 col-lg-2 col-xl-3"></div>
        <form class="col-12 col-sm-10 col-lg-8 col-xl-6 form-signin" id="signinForm" method="post">
            <h1 class="h3 mb-3 font-weight-normal"
                style="text-align: center;"><%= locals.t('general.registration') %></h1>
            <p style="text-align: justify;">
                <%- locals.t('registration.introduction', {args: {mark: '<span class="text-danger">*</span>'}}) %>
            </p>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="inputUserName"><%= locals.t('general.username') %><span
                                class="text-danger">*</span></label>
                    <input type="text" id="inputUserName" class="form-control form-control-sm mb-3" name="username"
                           placeholder="<%= locals.t('general.username') %>"
                           required="required" autofocus="">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail"><%= locals.t('general.email address') %><span
                                class="text-danger">*</span></label>
                    <input type="email" id="inputEmail" class="form-control form-control-sm mb-3" name="email"
                           placeholder="<%= locals.t('general.email address') %>"
                           required="required"
                           autofocus="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="inputFirstname"><%= locals.t('general.firstname') %><span
                                class="text-danger">*</span></label>
                    <input type="text" id="inputFirstname" class="form-control form-control-sm mb-3" name="first_name"
                           placeholder="<%= locals.t('general.firstname') %>"
                           required="required" autofocus="">
                </div>
                <div class="col-md-6">
                    <label for="inputLastname"><%= locals.t('general.lastname') %><span
                                class="text-danger">*</span></label>
                    <input type="text" id="inputLastname" class="form-control form-control-sm mb-3" name="last_name"
                           placeholder="<%= locals.t('general.lastname') %>"
                           required="required"
                           autofocus="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="inputGender"><%= locals.t('general.gender') %><span
                                class="text-danger">*</span></label>
                    <select id="inputGender" name="gender" class="form-select form-select-sm mb-3"
                            aria-label="gender selection">
                        <option value=""></option>
                        <option value="male"><%= locals.t('general.male') %></option>
                        <option value="female"><%= locals.t('general.female') %></option>
                        <option value="divers"><%= locals.t('general.divers') %></option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputOrganization"><%= locals.t('general.organization') %></label>
                    <input type="text" id="inputOrganization" class="form-control form-control-sm mb-3"
                           name="organization"
                           placeholder="<%= locals.t('general.organization') %>"
                           autofocus="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="inputCountry"><%= locals.t('general.country') %><span
                                class="text-danger">*</span></label>
                    <select class="form-select form-select-sm mb-3" id="inputCountry" name="country">
                        <option></option>
                        <% for(var i = 0; i < locals.listOfCountries.length; i++) { %>
                            <option value="<%= listOfCountries[i].country %>"><%= listOfCountries[i].country %></option>
                        <% } %>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState"><%= locals.t('general.state') %><span
                                class="text-danger">*</span></label>
                    <select class="form-select form-select-sm" id="inputState" name="state">
                    </select>
                </div>
            </div>
            <table class="mt-3 mb-3">
                <tbody>
                <tr>
                    <td style="vertical-align: top; padding-right:5px;">
                        <input id="checkDataCorrectness" type="checkbox" name="dataCorrectness" value="yes"
                               style="cursor: pointer;"/>
                    </td>
                    <td style="vertical-align: top">
                        <label for="checkDataCorrectness" style="cursor: pointer;">
                            <%= locals.t('registration.confirmation.data correctness') %>
                            <span
                                    class="text-danger">*</span></label>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: top; padding-right:5px;">
                        <input id="checkDataPolicy" type="checkbox" name="dataPolicyAccepted" value="yes"
                               style="cursor: pointer;"/>
                    </td>
                    <td style="vertical-align: top">
                        <label for="checkDataPolicy" style="cursor: pointer;">
                            <%- locals.t('registration.confirmation.data policy', {args: {dataPolicyURL}}) %>
                            <span class="text-danger">*</span></label>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-right:5px;">
                        <input id="checkTerms" type="checkbox" name="termsAccepted" value="yes"
                               style="cursor: pointer;"/>
                    </td>
                    <td style="vertical-align: top">
                        <label for="checkTerms" style="cursor: pointer;">
                            <%- locals.t('registration.confirmation.terms of service', {args: {termsConditionsURL}}) %>
                            <span class="text-danger">*</span></label>
                    </td>

                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary btn-block" id="submitButton" disabled="disabled" type="submit">
                <%= locals.t('general.sign up') %>
            </button>
        </form>
        <div class="col-sm-1 col-lg-2 col-xl-3"></div>
    </div>
<% } else { %>
    <p style="width:100%; text-align: center;">You are going to be redirected. Please wait...
        <br/>
        If the redirection does not work, click <a href="<%= locals.redirectTo %>">here.</a>.
    </p>
<% } %>
</body>
</html>
